header{
 background: #BBBBBB;

}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}



#jogos{
    width: 100%;
}
#jogo
 
video {
    width: 250px;
}

video::cue { 
    font-size: 1rem;
}
#capturar