
body{
background-color: rgb(236, 227, 227) ;
}
p{
    color: rgb(144, 144, 56) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: ;
    background: bisque ;
    }

}
header {
    background: #11ff84;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #d71919;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
