body{
    background-color: rgba(95, 131, 133, 0.562);
    }
p {
    color: rgba(0, 0, 0, 0.548);
    text-align: center;
    text-align: center;
}
#jogos{
    width: 300%;
}
button{
background-color:  transparent;
border: 4px solid #fff;
height: 50px;


}