body{
    background-color: rgba(255, 255, 255, 0.829);
    }
p {
    color: rgb(194, 86, 86);
    text-align: center;
    text-align: center;
}
#jogos{
    width: 300%;

{#1.png} 
.box-link {

    height: 100%;
    display: flex;
    align-items: center;

}
header {
    background: #BBBBBB;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


