body{
    background-color: rgba(95, 131, 133, 0.562);
    }
p {
    color: rgba(0, 0, 0, 0.548);
    text-align: center;
    text-align: center;
}
#jogos{
    width: 300%;
}
https://media.giphy.com/media/m7i2OEqnezfVlMASzx/giphy.gif